<div class="container text-center">
    <div class="row">



        <div [routerLink]="['/usuarios']" type="button" class="col btn btn-primary rounded border-primary p-3 mt-5 m-1">
            Lista de usuarios
        </div>

        <div [routerLink]="['/staff']" type="button" class="col btn btn-primary rounded border-primary p-3 mt-5 m-1">
            Lista de staff
        </div>

        <div [routerLink]="['/salas']" type="button" class="col btn btn-primary rounded border-primary p-3 mt-5 m-1">
            Lista de salas
        </div>



    </div>
</div>