<div class="container mt-5 border rounded p-3">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" formControlName="email">

            <p class="error" *ngIf="checkError('direccion', 'required')">
                La dirección email es obligatoria
            </p>

            <p class="error" *ngIf="checkError('email', 'pattern')">
                La dirección de email no tiene un formato válido
            </p>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Contraseña</span>
            <input type="password" class="form-control" formControlName="password">

            <p class="error" *ngIf="checkError('password', 'required')">
                La password debe contener: mayúsculas, minúsculas y números
            </p>
        </div>

        <input type="submit" value="Enviar" class="btn">
    </form>
</div>