<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="input-group mt-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="input-group mt-3">
            <span class="input-group-text">Precio</span>
            <input type="text" class="form-control" formControlName="precio">
        </div>

        <div class="input-group mt-3">
            <span class="input-group-text">Direccion</span>
            <input type="text" class="form-control" formControlName="direccion">
        </div>

        <div class="input-group mt-3">
            <span class="input-group-text">Aforo</span>
            <input type="number" class="form-control" formControlName="aforo">
        </div>

        <div class="input-group mt-3">
            <span class="input-group-text">descripcion</span>
            <input type="text" class="form-control" formControlName="descripcion">
        </div>

        <div class="input-group mt-3">
            <span class="input-group-text">foto</span>
            <input type="text" class="form-control" formControlName="url_foto">
        </div>

        <input class="btn" type="submit" class="btn mt-3" value="Guardar">

        <!--  <div class="errores">
            <p *ngFor=" let error of errores">{{error.msg}}</p>
        </div> -->

    </form>


</div>