<div class="fondo">

    <h3 class="text-center mb-5">Editar Sala</h3>

    <div class="container p-3 mt-3 rounded">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="input-group mt-3">
                <span class="input-group-text">Nombre</span>
                <input type="text" class="form-control" formControlName="nombre">
                <p class="error" *ngIf="checkError('nombre', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Precio</span>
                <input type="text" class="form-control" formControlName="precio">
                <p class="error" *ngIf="checkError('precio', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Direccion</span>
                <input type="text" class="form-control" formControlName="direccion">
                <p class="error" *ngIf="checkError('direccion', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Aforo</span>
                <input type="number" class="form-control" formControlName="aforo">
                <p class="error" *ngIf="checkError('aforo', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">descripcion</span>
                <input type="text" class="form-control" formControlName="descripcion">
                <p class="error" *ngIf="checkError('descripcion', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">foto</span>
                <input type="text" class="form-control" formControlName="url_foto">
                <p class="error" *ngIf="checkError('url_foto', 'required')">
                    Todos los campos son obligatorios
                </p>
            </div>

            <input class="btn" type="submit" class="btn mt-3" value="Guardar" [disabled]="!formulario.valid">

        </form>


    </div>
</div>