<!-- <div class="gallery">
  <div *ngFor="let imagen of images" class="image-container">
    <img [src]="imagen.url" alt="{{ imagen.nombre }}" class="gallery-image">
    <div class="image-description">{{ imagen.descripcion }}</div>
  </div>
</div> -->

<div class="container">
  <div class="title">
    <h1>Gestor cultural</h1>
    <h4>
      Ofrecemos los mejores espacios que necesitas para tu actividad.
      Conferencias, exposiciones, conciertos, cursos de formación, masterclass..
    </h4>
  </div>
  <div class="gallery">

<div class="carousel">
     <!-- <img [src]="imagen.url" [alt]="imagen.nombre"> accedo a la imagen que quiero en el array -->
     <button class="btn btn-secondary" (click)="stopInterval()">Stop</button>
     <button class="btn btn-secondary" (click)="startInterval()">Start</button>
     <img class="galeria" [src]="images[imagenSeleccionada].url" [alt]="">
    </div>


<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="{'active': i == 0}" *ngFor="let imagen of images; let i = index">
      <img [src]="imagen.url" class="d-block w-100" [alt]="imagen.nombre">
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->


  <div class="reservar-salas">
    <h3>¿Necesitas un espacio?</h3>
    <button class="btn btn-warning" [routerLink]="['/salas']">Reserva tu sala</button>
    <h3>
      Todo tipo de actividades: conferencias, conciertos, exposiciones,
      masterclasses,...
    </h3>
    <button class="btn btn-info"[routerLink]="['/salas']">Ver info de las salas</button>
  </div>
</div>
</div>
