* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding: 20px;
}
.title {
    margin-bottom: 50px;
    text-align: center;
    text-justify: center;
    padding: 10px;
    width: 70%;
}
.carousel {
    display: flex;
        justify-content: center;
        background-color: whitesmoke;
        width: 100%;
        flex-direction: column;
}


/* .carousel {
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: relative;
    left: 100px;
    background-color: whitesmoke;
    width: 50vh;
} */

.carousel button {
    /* margin: 5px; */
    /* padding: 10px; */
    margin-top: 10px;
        /* Ajusta el margen según sea necesario */
        display: flex;
        justify-content: center;
        width: 140px;
}

.carousel button:first-child {
    padding: 3px;
}

.galeria {
    width: 800px;
    height: 800px;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px)
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px)
    }
}

div.carousel img {
    width: 700px;
    height: auto;
    
}

.reservar-salas {
    display: inline-block;
    text-align: center;
    text-justify: center;

    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reservar-salas button {
    width: 30%;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
