<div class="container mt-5 border rounded p-3">

    <h5>Registro para miembros del staff</h5>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque alias numquam, cumque ea quis quasi
        quam, quas sequi praesentium iste doloribus perspiciatis beatae sint? Vitae sit illum quidem earum?</p>


    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" placeholder="Escribe tu nombre" formControlName="nombre">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Usuario</span>
            <input type="text" class="form-control" placeholder="Escribe tu nombre de usuario"
                formControlName="usuario">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" placeholder="Introduce un correo electrónico válido"
                formControlName="email">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Contraseña</span>
            <input type="password" class="form-control" placeholder="Escoge una contraseña segura"
                formControlName="password">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Rol</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="rol">
                <option value="administrador">Administrador</option>
                <option value="trabajador">Trabajador</option>
            </select>
        </div>






        <input type="submit" value="Enviar" class="btn">




    </form>



</div>