<p>contacto works!</p>
<div class="container mt-5 border rounded p-3">

    <h3>Formulario de contacto</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque alias numquam, cumque ea quis quasi
        quam, quas sequi praesentium iste doloribus perspiciatis beatae sint? Vitae sit illum quidem earum?</p>


    <!-- <form [formGroup]="formulario" (ngSubmit)="onSubmit()"> -->
<form [formGroup]="formulario">
        <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" placeholder="Escribe tu nombre" formControlName="nombre">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Apellidos</span>
            <input type="text" class="form-control" placeholder="Escribe tus apellidos"
                formControlName="usuario">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" placeholder="Introduce un correo electrónico"
                formControlName="email">
        </div>
        <input type="submit" value="Enviar" class="btn">
        <!-- <div class="input-group mb-3">
            <span class="input-group-text"></span>
            <textarea type="text" class="form-control" placeholder="Escribe tu mensaje"
                formControlName="mensaje">
        </div> -->

        <!-- <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Rol</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="rol">
                <option value="administrador">Administrador</option>
                <option value="trabajador">Trabajador</option>
            </select>
        </div> -->
</form>
