<div class="fondo">

    <h3 class="text-center mb-5">Login para miembros del staff</h3>

    <div class="container p-3 mt-3 rounded">

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input type="text" class="form-control" formControlName="email">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Contraseña</span>
                <input type="password" class="form-control" formControlName="password">
            </div>

            <input type="submit" value="Enviar" class="btn">

        </form>

    </div>
</div>