<div class="fondo">

    <h3 class="text-center mb-5">Lista de miembros del staff</h3>

    <div class="container p-3 mt-3 rounded text-center">

        <table class="table">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>usuario</th>
                <th>Email</th>
                <th>Roll</th>

            </thead>
            <tbody>
                <tr *ngFor="let staff of arrStaff">
                    <td>{{staff.id}}</td>
                    <td>{{staff.nombre}}</td>
                    <td>{{staff.usuario}}</td>
                    <td>{{staff.email}}</td>
                    <td>{{staff.rol}} </td>
                    <td>
                        <button class="btn btn-success" [routerLink]="['/staff', 'editar', staff.id]">✏️</button>
                    </td>
                    <td>
                        <button (click)="eliminar()" class="btn btn-danger">🗑️</button>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>
</div>