.fondo {
    background-color: var(--blanco);
    /* height: calc(100vh - 56px); */
    padding-top: 40px;
}

.container {
    background-color: white;
    /* Añado margen pero no se aplica el background color */
    margin-bottom: 200px;

}

tbody {
    border-bottom: 1px solid lightgray;
}