<div class="container mt-5">

  <div class="rounded">

    <h3 class="text-center">Detalles de la sala</h3>

    <div *ngIf="sala" class="detalle-sala">

      <div class="sala-info">
        <div class="sala-image">
          <img [src]="sala.url_foto" alt="Foto de la sala">
        </div>
        <div class="sala-details">
          <h4>{{sala.nombre}}</h4>
          <p><strong>Dirección:</strong> {{ sala.direccion }}</p>
          <p><strong>Precio:</strong> {{ sala.precio }}</p>
          <p><strong>Aforo:</strong> {{ sala.aforo }}</p>
          <p><strong>Descripción:</strong> {{ sala.descripcion }}</p>
          <p><strong>Teléfono de contacto:</strong></p>
          <p><strong>Email:</strong></p>

        </div>
      </div>

    </div>

  </div>

  <div class=" bordecito rounded p-3 m-3">


    <h5>Información de la reserva</h5>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="input-group mt-3">
        <span class="input-group-text">Título para la reserva</span>
        <input type="text" class="form-control" formControlName="titulo" />

        <span class="input-group-text">Descripción</span>
        <input type="text" class="form-control" formControlName="descripcion" />
      </div>

      <div class="input-group mt-3">
        <span class="input-group-text">Fecha de inicio</span>
        <input type="date" class="form-control" formControlName="fecha_reserva" />

        <span class="input-group-text">Hora de inicio</span>
        <input type="time" class="form-control" formControlName="hora_reserva" />

      </div>
      <p class="error" *ngIf="checkError('fecha_reserva', 'required')">
        Tienes que indicar una fecha de reserva.
      </p>
      <p class="error" *ngIf="checkError('hora_reserva', 'required')">
        Tienes que indicar una hora de reserva.
      </p>

      <div class="input-group mt-3">

        <span class="input-group-text">Fecha de fin</span>
        <input type="date" class="form-control" formControlName="fecha_fin_reserva" />


        <span class="input-group-text">Hora de fin</span>
        <input type="time" class="form-control" formControlName="hora_fin_reserva" />

      </div>
      <p class="error" *ngIf="checkError('fecha_fin_reserva', 'required')">
        Tienes que indicar hasta qué fecha se hace la reserva.
      </p>
      <p class="error" *ngIf="checkError('hora_fin_reserva', 'required')">
        Tienes que indicar hasta qué hora se hace la reserva.
      </p>

      <input class="btn" type="submit" class="btn mt-3" value="Guardar" />


    </form>
  </div>


  <div class="calendario">
    <app-calendar *ngIf="salaSeleccionada" [reservas]="salaSeleccionada.reservas"></app-calendar>
  </div>



</div>