<div class="container">
  <div>
    <div class="card">datos del usuario</div>
    <div class="card">datos de la sala</div>
  </div>

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="input-group mt-3">
      <span class="input-group-text">Título para la reserva</span>
      <input type="text" class="form-control" formControlName="titulo" />

      <span class="input-group-text">Descripción</span>
      <input type="text" class="form-control" formControlName="descripcion" />
    </div>

    <div class="input-group mt-3">
      <span class="input-group-text">Fecha de inicio</span>
      <input type="date" class="form-control" formControlName="fecha_reserva" />

      <span class="input-group-text">Hora de inicio</span>
      <input type="time" class="form-control" formControlName="hora_reserva" />
    </div>

    <div class="input-group mt-3">
      <span class="input-group-text">Fecha de fin</span>
      <input
        type="date"
        class="form-control"
        formControlName="fecha_fin_reserva"
      />

      <span class="input-group-text">Hora de fin</span>
      <input
        type="time"
        class="form-control"
        formControlName="hora_fin_reserva"
      />
    </div>

    <input class="btn" type="submit" class="btn mt-3" value="Guardar" />

    <!--  <div class="errores">
        <p *ngFor=" let error of errores">{{error.msg}}</p>
    </div> -->
  </form>
  <app-calendar [reservas]="salaSeleccionada.reservas"></app-calendar>
</div>
