h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.sala-info {
    display: flex;
    align-items: center;
}

.sala-image img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.sala-details p {
    margin: 5px 0;
}

.sala-details strong {
    font-weight: bold;
}

.btn {
    background-color: rgb(28, 146, 179);
    color: var(--blanco);
    width: 300px;
}

.btn:hover {
    background-color: rgb(1, 101, 129);
}