<div class="container mt-5">
    <div class="row">

        <div class="col-6">

            <div *ngIf="sala" class="detalle-sala">
                <h2>{{sala.nombre}}</h2>
                <div class="sala-info">
                    <div class="sala-image">
                        <img [src]="sala.url_foto" alt="Foto de la sala">
                    </div>
                    <div class="sala-details">
                        <p><strong>Nombre:</strong> {{ sala.nombre }}</p>
                        <p><strong>Dirección:</strong> {{ sala.direccion }}</p>
                        <p><strong>Precio:</strong> {{ sala.precio }}</p>
                        <p><strong>Aforo:</strong> {{ sala.aforo }}</p>
                        <p><strong>Descripción:</strong> {{ sala.descripcion }}</p>
                        <p><strong>Teléfono de contacto:</strong></p>
                        <p><strong>Email:</strong></p>
                        <button [routerLink]="['/salas', 'reservar', sala.id]" class="btn">Reservar Sala</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-6">
            <div *ngIf="urlMapa !== ''" class="mapa">

                <!-- PREGUNTAR SI PODEMOS PONER VARIABLE EL SRC DE MANERA FÁCIL -->
                <iframe [src]="urlMapa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>





    </div>







</div>