<nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page">Home</a>
            </li>

            <select>
                <option selected>¿Staff o usuario?</option>
                <option value="loginUsuarios">Login Usuarios</option>
                <option value="signUpUsuarios">Sign Up Usuarios</option>

                <option value="loginStaff">Login Staff</option>
                <option value="signUpStaff">Sign Up Staff</option>

            </select>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page">Contacto</a>
            </li>

        </ul>

    </div>
</nav>